@tailwind base;
@tailwind components;
@tailwind utilities;

/* Autofill background and text color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1f2937 inset !important; /* Set background color */
  -webkit-text-fill-color: white !important; /* Set text color */
}

input:-internal-autofill-selected {
  background-color: #1f2937 !important; /* Fallback for other browsers */
  color: white !important;
}

/* FadeIn Animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Hide Scrollbar Animation */
@keyframes hideScrollbar {
  0% {
    overflow: scroll;
  }
  100% {
    overflow: hidden;
  }
}

.hide-scrollbar {
  animation: hideScrollbar 1s forwards;
}

/* Scrollbar Styles for Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #3f3e3e; /* Dark gray background for the track */
}

::-webkit-scrollbar-thumb {
  background: #000000; /* Pure black scrollbar */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #333; /* Slightly lighter black on hover */
}

/* Scrollbar Styles for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #2f2e2e #1a1a1a; /* Black thumb, dark gray track */
}
